<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Login</h1>
    <img alt="logo" th:src="@{/images/TacoCloud.png}">

    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <p>
        New her? Click <a th:href="@{/register}">here</a> to register.
    </p>

    <form method="POST" th:action="@{/authenticate}" id="loginForm">       

        <label for="username">Username: </label>
        <input type="text" name="user"><br/>

        <label for="password">Password: </label>
        <input type="password" name="pass"><br/>

        
        <input type="submit" value="Login">
    </form>

</body>
</html>